extends layout

block content
  h1= title
  a.btn.btn-info(href='/admin/news/add') Добавить

  table.table.table-bordered.table-striped.table-hover
    thead
     tr
      th Название
      th Текст
      th управление
    tbody
     each item in list
         tr
          td= item.title
          td= item.body
          td
           a.btn.btn-info(href='/admin/news/'+item._id+'/edit') изменить
           a.btn.btn-danger(href='/admin/news/'+item._id+'/delete') удалить