extends layout

block content

  div.container

      h1(id='header')= title

      form
          input.form-control(id='id', type='hidden')
          button.btn.btn-primary(type='button' id='delete-news-button') Да, удалить
          a.btn.btn-primary(href='/admin/news') Нет, не удалять!