<ng-include src="'templates/menu.html'"></ng-include>
<h1>{{vm.pageTitle}}</h1>

<table ng-show="vm.tableModel.length" class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>Название</th>
        <th>Текст</th>
        <th>Изменение</th>
        <th>Удаление</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="item in vm.tableModel">
        <td>
            {{item.title}}
        </td>
        <td>
            {{item.body}}
        </td>
        <td>
            <a class="btn btn-info" href="#/edit/{{item._id}}">изменить</a>
        </td>
        <td>
            <button type="button" class="btn btn-info" ng-click="vm.delete(item._id)">удалить</button>
        </td>
    </tr>

    </tbody>
</table>

<div ng-hide="vm.tableModel.length" class="alert alert-info">Пока нет ни одной новости</div>

<ng-include src="'templates/modal-alert.html'"></ng-include>